@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Cousine;
    src: url(../public/fonts/Cousine-Regular.ttf);
  }
}

body {
  margin: 0;
  /* font-family: Cousine; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #041b15;
}
